

/* layout */
#contents {}
#section1 {background: #fff; height: 100vh;}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* container */
.container {width: 1400px; margin: 0 auto; background: rgba(36, 34, 34, 0.61); height: 100vh;}

/* header */
#header {position: relative; padding: 20px;}
#header h1 {position: absolute; font-size: 20px; color: #424244; font-family:'CanvasBlack'; padding: 10px 40px; }
#header p {text-align: center; color: #221f1e; font-size: 12px; letter-spacing: .3em; font-family: 'Roboto', sans-serif; padding-top: 40px; font-weight: 300; text-transform: uppercase;}

/* nav */
.nav {position: fixed; right: 10px; top: 10px; display: none;}

/* sec1 */
.sec1 {height: 100vh; }
